* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%;     */
}

body {
    
}

.head-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;
    background-image: url(./media/kolkata-bg.jpg);
    background-size: cover;
    color: white;
}

.title-text {
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 3px 3px red;
    background-color: #e56b6f;
    padding: 5px 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

